body{
    background-color: #EAE4F3;
    scroll-behavior: smooth;
}
.row{
    margin: 0;
}
.border-radius-50{
    border-radius: 50%;
}
.card{
    background-color: #ffffff77;
}
.btn-purple-dark{
    background-color: #917FB9;   
    color: #EAE4F3;
    transition: 0.8s;
    text-shadow: 1px 1px 3px #020202;
}
.btn-purple-dark:hover{
    color: rgb(56, 56, 56);
    background-color: #EAE4F3;
    text-shadow: 1px 1px 3px #b1b1b1;
}
header{
    background-image: url(./img/header-bg-transparent-high-v2.png);
    position: relative;
    background-size:cover;
}
#logo{
    padding-top: 60px;
}
/* NAVBAR */
.navbar{
    text-align: center;
    padding: 20px 0;
    background-color: rgba(140, 121, 182, 0.968);
    box-shadow: rgb(38, 57, 77) 0px 8px 30px 0px;
}
.navbar-toggler{
    background-color: #fff;
    box-shadow: rgb(38, 57, 77) 1px 1px 10px 0px;
}
.nav-item{
    padding-right: 20px;
}
.nav-item a{
    color: #ece5f3;
    text-shadow: 1px 1px 3px #000000;
    transition: 0.6s;
}
.nav-item a:hover{
    color: #151416;
    text-shadow: 1px 1px 3px #e0e0e0;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
    color: #19181a;
    text-shadow: 1px 1px 3px #e0e0e0;
}
#navbar-rdv{
    background-color: #f1f0f0;
    /* text-shadow: 1px 1px 1px #00000048; */
    margin-top: 2px;
    transition: 0.6s ease-in-out;
    color: #6442ac;
    font-size: 15px;
}
.badge{
    padding: 15px;
    margin-right: 8px;
    box-shadow: rgb(38, 57, 77) 1px 1px 10px 0px;
}
.navbar-rdv-mobile{
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 15px 70px 15px 70px;
}
#navbar-rdv .nav-link{
    transition: 0.6s ease-in-out;
}
#navbar-rdv:hover{
    background-color: #a29fa7;
    transform: scale(1.02);
}
#navbar-rdv .nav-link:hover{
    color: #6442ac;
}
/* -------------- MAIN ----------- */
/* ---------------------------MAIN DESCRIPTION--------------------- */
#main-description{
    background-image: url(./img/bg-section-1.jpg);
    background-size: cover;
    height: 1000px;
    margin-top: -380px;
    text-align: justify;
    color: black;
}
#main-description-content{
    margin-top: 250px;
}
#main-description-content .row{
    /* background: rgb(145,127,185);
    background: radial-gradient(circle, rgba(145, 127, 185, 0.39) 1%, #00000050 20%); */
    background-color:#eae4f3c0;;
    padding: 45px 15px;
    border-radius: 35px;
    /* box-shadow: 0px 5px 5px 1px black; */
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
/* ----------------------------------MAIN ACCROCHE----------------- */
#main-accroche{
    text-align: center;
    background-image: url(./img/leaf-bg-purple-10.png);
    background-size: cover;
    color: #EAE4F3;
    height: 350px;
    margin-top: -50px;
    clip-path: polygon(0 0, 100% 50px, 100% calc(100% - 50px), 0 100%);
}
/* --------------------------MAIN SERVICES--------------------- */
#main-services{
    justify-content: space-around;
    margin-top: -50px;
    /* background-color: #917FB9; */
    background-image: url(./img/herbs-bg-purple-20.png);
    background-size: contain;
    padding: 100px 0;
}
.margin-right-services{
    padding-right: 50px;
}
#link-mutuelles{
    margin: 80px 0;
}
#main-services ul{
    list-style-type: circle;
}
#main-services-deroulement, #main-services-benefices{
    text-align: justify;
}
/* ----------------------------MAIN ATELIERS-------------------------- */
#main-ateliers{
    clip-path: polygon(0 0, 100% 50px, 100% calc(100% - 50px), 0 100%);
    padding: 150px 0;
    margin-top: -100px;
    background-image: url(./img/leaf-bg-purple-10.png);
    background-size: cover;
}
#main-ateliers p{
    text-align: justify;
}
.main-ateliers-row{
    justify-content: center;
    margin-top: 50px;
}
.main-ateliers-row h3{
    margin: 20px 0 10px 0;
}
/* ------------------------MAIN CABINET---------------- */
#main-cabinet{
    padding: 150px 0;
    margin-top: -100px;
    background-color: #917FB9;
    background-image: url(./img/herbs-bg-purple-20.png);
    background-size: contain;
}
.icon-cabinet{
    width: 30px;
    height: 30px;
    margin-right: 20px;
    padding-top: 2px;
}
#main-cabinet-infos{
    margin: 3rem 0;
}
.main-cabinet-infos-li{
    margin-bottom: 35px;
    margin-left: 20%;
}
#main-cabinet-google-map iframe{
    min-height:450px;
    margin: 3rem 0;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
/* --------------- OFFCANVAS PARKING CABINET --------- */
.offcanvas{
    --bs-offcanvas-width:auto;
}
/* ------------------------------------AVIS------------------- */
#main-avis{
    clip-path: polygon(0 0, 100% 50px, 100% calc(100% - 50px), 0 100%);
    padding: 150px 0;
    margin-top: -100px;
    background-image: url(./img/leaf-bg-purple-10.png);
    background-size: cover;
}
.carousel-elements-children{
    flex: 1 0 40%;
    margin: 25px 15px;
    padding: 10px;
    scroll-snap-align: start;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.carousel-elements-children .card-body{
    text-align: center;
}
.carousel-elements-children p{
    text-align: justify;
}
.carousel-elements-parent{
    border-radius: 5px;
    display: flex;
    overflow-x: scroll;
    padding: 1rem 0;
    scroll-snap-type: x mandatory;
    margin-top: 35px;
    --mask: linear-gradient(to right, 
      rgba(0,0,0, 1) 0,   rgba(0,0,0, 1) 94%, 
      rgba(0,0,0, 0) 95%, rgba(0,0,0, 0) 0
  ) 100% 100% / 100% 100% repeat-x;
  -webkit-mask: var(--mask); 
  mask: var(--mask);
}
/* -------------------------------------FOOTER ---------- */
footer{
    padding: 120px 0 40px 0;
    margin-top: -100px;
    background-image: url(./img/herbs-bg-purple-20.png);
    background-size: contain;
}
#footer-icons{
    
}
.footer-liens-sociaux{
    transition: 300ms ease-in-out;
    width: 50px;
    margin-right: 10px;
}
.footer-liens-sociaux:hover{
    transform: scale(1.1);
}
/* ---------------- MODAL MENTIONS LEGALES ---------- */
.modal-dialog{
    max-width: 60%;
}
/* ----------- BACK TO TOP --------- */
#back-to-top-btn{
    position: fixed;
    bottom: 20px;
    left: 20px;
}
/* ------------------------------ SCROLLBAR AVIS ----------- */
::-webkit-scrollbar-track {
    background-color: #ffffff3d;
    border-radius: 5px;
}

::-webkit-scrollbar {
    height: 15px;
    background-color: #f5f5f500;
}

::-webkit-scrollbar-thumb {
    background-color: #38383870;
}
/* ------------------------------------------- ANIMATIONS ----------- */
.two-lines{
    text-decoration: none;
    position: relative;
}
.two-lines::before, .two-lines::after{
    content: "";
    position: absolute;
    height: 2px;
    background-color: #26214d;
    /* opacity 0 au départ pour qu'elles soient invisibles */
    opacity: 0;
    /* left 50% et translate -50% pour centrer parfaitement */
    left: 50%;
    transform: translate(-50%, 10px);
    transition: all 0.3s ease-in-out;
}
.two-lines::before{
    /* une ligne plus large que l'autre */
    width: 90%;
    bottom: -4px;
}
.two-lines::after{
    /* une ligne plus petite que l'autre */
    width: 60%;
    bottom: -10px;
}
/* quand on va hover ... */
.two-lines:hover::before, .two-lines:hover::after{
    /* on redonne la visibilité aux élément en transition 0.2s */
    opacity: 1;
    /* on remonte les lignes grâce au 0px */
    transform: translate(-50%, 0px);
}
.two-lines::before, .two-lines:hover::after{
    transition-delay: 0.1s;
}
.two-lines:hover::before{
    transition-delay: 0s;
}
/* -----------------------------MEDIA QUERIES--------------------- */
@media only screen and (max-width: 992px){
    #header-logo{
        justify-content: center;
        margin-top: 70px;
    }
    #logo{
        margin: 25px 0;
    }
    .navbar{
        left: 0;
    }
    .nav-item{
        margin-bottom: 30px;
    }
    #footer-icons{
        margin-top: 20px;
    }
    /* ------- MAIN ----- */
    #main-description{
        height: 1200px;
    }
    #main-description-content .row{
        padding: 15px;
    }
    #main-description-content img{
        margin: 20px 5px;
    }
    #main-accroche{
        height: 350px;
    }
    .margin-right-services{
        padding-right: 0px;
    }
    #main-services{
        padding: 50px 0;
    }
    .margin-top-services{
        margin: 35px 0;
    }
    #link-mutuelles{
        margin: 50px 0;
    }
    #main-services-photo-benefices{
        display: none;
    }
    #main-services-photo-deroulement{
        margin-bottom: 35px;
    }
    #pour-qui{
        margin-bottom: 40px;
    }
    .main-cabinet-infos-li{
        margin-left: 0;
    }
    #main-cabinet-infos{
        margin-bottom: 0;
    }
    #main-cabinet-google-map{
        margin-top: 0;
    }
    #main-cabinet-photos img{
        margin-bottom: 65px;
    }
    #footer-infos-contact{
        margin: 35px 0;
    }
    .carousel-elements-children{
        flex: 1 0 75%;
    }
    /* --------- FOOTER --------- */
    footer{
        flex-direction: column;
        padding: 100px 0;
    }
    /* ----------- ANIMATIONS --------- */
    
}